.publication-section {
  color: var(--Blue, #3a3c46);
  font-family: Esteban;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 35.2px */
  letter-spacing: -0.64px;
}

.publication-title {
  color: var(--Blue, #3a3c46);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
  width: 508.247px;
}

.publication-subtitle {
  color: var(--Blue, #3a3c46);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 24.3px */
  letter-spacing: -0.36px;
  width: 698.969px;
}

.publication-author {
  color: var(--Blue-80, rgba(58, 60, 70, 0.8));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
  letter-spacing: -0.32px;
}

.publication-date {
  color: var(--Blue-80, rgba(58, 60, 70, 0.8));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
  letter-spacing: -0.32px;
}

.publication-category {
  color: var(--Blue-80, rgba(58, 60, 70, 0.8));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
  letter-spacing: -0.32px;
}

.publication-doi {
  color: var(--Blue-80, rgba(58, 60, 70, 0.8));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
  letter-spacing: -0.32px;
}

.read-more-link {
  display: flex;
  height: 52px;
  padding: 9px 32px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  border: 2px solid var(--Blue, #3a3c46);
}

.read-more-link:hover {
  cursor: pointer;
}
