@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 1023px;
    height: 427px;
    padding: 40px 136px 50px 16px;
  }

  .footer__container {
    height: 337px;
    position: absolute;
    justify-content: space-between;
    margin: 0;
  }

  .footer__links {
    margin: 62px 0 0 0;
  }

  .footer__socials {
    width: 120px;
    margin: 57px 0 0 0;
  }

  .footer__gradiant {
    margin: 150px -63px -368px 250px;
  }
}
