@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    max-width: 1279px;
    height: 294px;
    padding: 40px 60px 60px 40px;
  }

  .footer__container {
    height: 194px;
  }

  .footer__links {
    width: 264px;
  }

  .footer__socials {
    width: 120px;
  }

  .footer__gradiant {
    margin: 75px -63px -368px 350px;
    transform: rotate(-10.472deg);
  }
}
